@page
@model ForgotPasswordModel

@{
    Layout = "~/Views/Shared/_LayoutAccess.cshtml";
}

@{
    ViewData["Title"] = "Olvidaste tu contraseña?";
}

<h4 class="text-center">Reinicia tu contraseña</h4>
<p class="text-center">Escribi el email asociado con tu cuenta de MusicShop y te enviaremos un correo con un link para reiniciar tu contraseña.</p>
<hr />
<form method="post">
    <div class="form-group">
        <label asp-for="Input.Email"></label>
        <input asp-for="Input.Email" class="form-control" />
        <span asp-validation-for="Input.Email" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary col-md-12">Enviar</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
