@page
@model ResendEmailConfirmationModel

@{
    Layout = "~/Views/Shared/_LayoutAccess.cshtml";
}

@{
    ViewData["Title"] = "Reenviar email de confirmación";
}

<h4 class="text-center">@ViewData["Title"]</h4>
<p class="text-center">Ingresa tu email.</p>
<hr />
<form method="post">
    <div class="form-group">
        <label asp-for="Input.Email"></label>
        <input asp-for="Input.Email" class="form-control" />
        <span asp-validation-for="Input.Email" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary col-md-12">Reenviar</button>
</form>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
