@model MusicShopMVC.Models.Trompeta

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Trompeta</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Afinacion" class="control-label"></label>
                <input asp-for="Afinacion" class="form-control" />
                <span asp-validation-for="Afinacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MarcaID" class="control-label"></label>
                <select asp-for="MarcaID" class="form-control" asp-items="ViewBag.MarcaID"></select>
                <span asp-validation-for="MarcaID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Modelo" class="control-label"></label>
                <input asp-for="Modelo" class="form-control" />
                <span asp-validation-for="Modelo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tipo" class="control-label"></label>
                <input asp-for="Tipo" class="form-control" />
                <span asp-validation-for="Tipo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Material" class="control-label"></label>
                <input asp-for="Material" class="form-control" />
                <span asp-validation-for="Material" class="text-danger"></span>
            </div>
            <dd class = "col-sm-10">
            <img src="@("~/Productos/"+ Model.NombreImagen)" asp-append-version="true" width="250px" height="250px" />
            </dd>
            <div class="form-group">
                <label asp-for="NombreImagen" class="control-label"></label>
                <input asp-for="NombreImagen" class="form-control" />
                <span asp-validation-for="NombreImagen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImagenSubir" class="control-label"></label>
                <input asp-for="ImagenSubir" accept="image/*" />
                <span asp-validation-for="ImagenSubir" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
